<footer>
    <p>This is an Open Source application under MIT license.</p>
    <a href="https://github.com/simoonoravec/textstash" target="_blank"><img src="/img/github.png"></a>
</footer>
</body>
</html>