<%- include('partials/header') %>
<div class="container" style="text-align: center;margin-top: 2rem;">
    <a href="/"><button class="btn btn-blue">New stash</button></a>
    <h2 style="margin-top: 10rem;"><%- error %></h2>
</div>
<%- include('partials/footer') %>