<%- include('partials/header') %>
<h1>TextStash</h1>
<div class="container">
    <form id="paste-form" method="POST" action="/paste">
        <input type="submit" id="submit" class="btn btn-blue" value="Stash">
        <button class="btn hidden" id="clipboard-paste">Paste from clipboard</button>
        <div class="error" id="error"></div>
        <textarea class="textarea-paste" name="text" id="text" autofocus required></textarea>
    </form>
</div>
<script>
    $("#clipboard-paste").show();

    let errPid = -1;
    function showError(msg) {
        $("#error").text(msg).fadeIn(500);

        if (errPid != -1) {
            clearTimeout(errPid);
        }

        errPid = setTimeout(() => {
            $("#error").fadeOut(2000);
            errPid = -1;
        }, 10000);
    }

    $("#submit").on("click", function(e) {
        e.preventDefault();

        if ($("#text").val().length == 0) {
            showError("Cannot stash empty text!");
            return;
        }

        if ((new TextEncoder().encode($("#text").val())).length > 5000000) {
            showError("Text is too long!");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/api/paste",
            data: $("#paste-form").serialize(),
            dataType: "json",
            success: function (data) {
                window.location.href = data.paste_id;
            },
            error: function (err) {
                showError(err.responseJSON.error);
            }
        });
    });

    $("#clipboard-paste").on("click", async function(e) {
        e.preventDefault();

        const clipboard = await navigator.clipboard.readText();
        $("#text").val(clipboard);
    });
</script>
<%- include('partials/footer') %>