<%- include('partials/header') %>
<h1>TextStash</h1>
<div class="pastebox">
    <form id="paste-form" method="POST" action="/paste">
        <input type="submit" class="btn btn-blue" value="Stash">
        <button class="btn hidden" id="clipboard-paste">Paste from clipboard</button>
        <textarea class="pastebox-ta" name="text" id="text" autofocus></textarea>
    </form>
</div>
<script>
    $("#clipboard-paste").show();

    $("#paste-form").on("submit", function(e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "/api/paste",
            data: $("#paste-form").serialize(),
            dataType: "json",
            success: function (data) {
                window.location.href = data.paste_id;
            },
            error: function (err) {
                alert("ERR");
            }
        });
    });

    $("#clipboard-paste").on("click", async function(e) {
        e.preventDefault();

        const clipboard = await navigator.clipboard.readText();
        $("#text").val(clipboard);
    });
</script>
<%- include('partials/footer') %>