<%- include('partials/header') %>
<form id="paste-form" method="POST" action="/paste">
    <div class="toolbar">
        <button type="submit" id="save" class="btn-save"><img src="/static/img/save.svg"></button>
        <input type="password" class="input" name="password" id="password" placeholder="Password (optional)">
        <div class="toolbar-right">
            <h2>TextStash <a href="https://github.com/simoonoravec/textstash" target="_blank"><img class="github-logo" src="/static/img/github.png" alt="GitHub Logo"></a></h2>
        </div>
    </div>
    <textarea class="textarea" name="text" id="text" autofocus required></textarea>
</form>
<%- include('partials/scripts') %>
<script>
    $('#save').on('click', function(e) {
        e.preventDefault();

        if ($('#text').val().length == 0) {
            notyf.error('Cannot save empty text!');
            return;
        }

        if ((new TextEncoder().encode($('#text').val())).length > 100000) {
            notyf.error('Text is too long!\nMax. 100KB');
            return;
        }

        const savingNotyf = notyf.success("Saving...");

        $.ajax({
            type: 'POST',
            url: '/api/paste',
            data: $('#paste-form').serialize(),
            dataType: 'json',
            success: function (data) {
                window.location.href = data.paste_id;
            },
            error: function (err) {
                notyf.dismiss(savingNotyf);
                notyf.error(err.responseJSON.error);
            }
        });
    });
</script>
<%- include('partials/footer') %>